@model List<Apartment>
@{
    ViewData["Title"] = "All";
}

<div class="container mt-5">
    <h2>All</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Описание</th>
                <th scope="col">Площ</th>
                <th scope="col">Сграда</th>
                <th scope="col">Етаж</th>
                <th scope="col">Статус</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apartment in Model)
            {
            <tr>
                <th scope="row">1</th>
                <td>@apartment.Description</td>
                <td>@apartment.Number</td>
                <td>@apartment.Building</td>
                <td>@apartment.Floor</td>
                @if (apartment.IsSold)
                {
                    <td>Продаден</td>
                }
                else
                {
                    <td>Свободен</td>
                }
                @if (!apartment.IsSold)
                {
                    <td>

                        <form asp-action="Sold" asp-route-id="@apartment.Id" method="post">
                            <button class="btn-group-xs btn-warning">Продаден</button>
                        </form>
                        <form asp-action="Delete" asp-route-id="@apartment.Id" method="post">
                            <button class="btn-group-xs btn-danger">Изтрий</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-action="Delete" asp-route-id="@apartment.Id" method="post">
                            <button class="btn-group-xs btn-danger">Изтрий</button>
                        </form>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>